body {
    background-color:#D9B1A3;
    color:#2E4959;
}
.cabecalho{
    background-color: #2E4959;
    color: rgb(184, 209, 73);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content:center;
    gap: 30%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding-top: 30px;
    padding-bottom: 20px;
}

#titulo {
    font-size: 30px;
    text-align: center;
}

.imgindex {
    display: block;
    margin: auto;
    height: 600px;
}
.imgcentro {
    display: flex;
    margin: auto;
    height: 200px;
}


li{
    padding: 2em;
    font-size: 18px ;
    font-family: Verdana ;
}

li a{
    font-size: 30px;
    text-decoration: none;
    color: #2E4959 ;
}

button{
    font-size: 16px;
    color: blue;
    padding: 2px;
    width: 150px;
    border-radius: 8px;
}
