.cabecalho{
    background-color: #2E4959;
    color: rgb(184, 209, 73);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content:center;
    gap: 30%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

#titulo {
    font-size: 30px;
    text-align: center;
}

p {
    
}

.imgindex {
    display: block;
    margin: auto;
    height: 500px;
}

nav{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: ;
}

li{
    text-align: ;
    /* padding: 0px 50px 0px 10px; */
    font-size: 18px ;
    font-family: Verdana ;

}

/*onde vai os codigos abaixo: li ou li a?????? */



li a{
    font-size: 20px;
    text-decoration: none;
    color: #2E4959 ;
    padding: 2em;
}

button{
    font-size: 16px;
    color: blue;
    padding: 2px;
    width: 150px;
    border-radius: 8px;
}